*{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    margin: 0;
}
body{
    background: rgb(0,48,98);
    background: linear-gradient(90deg, rgba(0,48,98,1) 0%, rgba(0,0,0,1) 100%);

}

header{
    top: -10vh;
    width: 100%;
    height: 10vh;
    background: #fff;
    position: sticky;
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 20;
}
header.acti{
    top: 0;

}

section.prod{
    width: 100%;
    height: 90vh;
    display: flex;
}
div.phot{
    width: 50%;
    height: 100%;
}
div.allim{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
div.allim img{
    height: 63vh;
    position: absolute;
    opacity: 0;
    z-index: 0;
}
div.allim img.act{
    opacity: 1;
    z-index: 1;
}
div.choi{
    height: 25%;
    width: 70%;
    margin-left: 15%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
div.choi img{
    width: 15%;
    margin-left: 7%;
    margin-right: 7%;
    cursor: pointer;
    position: relative;
}
div.price{
    width: 100%;
    height: 6vh;
    text-align: center;
}
div.price h3.prix{
    font-size: 1.5vw;
    color: #dcc500;
}


div.sele{
    width: 50%;
    height: 100%;
    display: flex;
}
div.color{
    margin-left: 20%;
    width: 10%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
div.color input{
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 1.4vw;
    height: 1.4vw;
    cursor: pointer;

}
div.color span{
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 50%;
    display: block;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
}
span.bl{
    background: #000;
}
span.wh{
    background: #fff;
}
span.pi{
    background: #f829ff;
}
div.inp:nth-child(1) input:checked ~ span.bl{
    border: 5px solid #dcc500;
}
div.inp:nth-child(2) input:checked ~ span.wh{
    border: 5px solid #dcc500;
}
div.inp:nth-child(3) input:checked ~ span.pi{
    border: 5px solid #dcc500;
}
div.inp{
    width: calc(1.4vw + 10px);
    height: calc(1.4vw + 10px);
    display: flex;
    justify-content: center;
    align-items: center;

}
div.other{
    width: 70%;
    height: 100%;
}

div.title{
    width: 50%;
    margin-left: 25%;
    margin-top: 15vh;
    height: 15vh;
    text-align: center;
}
div.title h2.ti{
    color: #dcc500;
    font-size: 2vw;
}
div.quanti{
    margin-top: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
div.aju{
    width: 7%;
    aspect-ratio: 1/1;
    background-color: #dcc500;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5vw;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}
div.quanti h4.qu{
    color: #dcc500;
    margin-right: 10%;
    font-size: 1.7vw;
}
div.comma{
    width: 100%;
    height: 15vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.comma div.commander{
    width: 50%;
    height: 6vh;
    background-color: #dcc500;
    color: #fff;
    font-size: 1.6vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
input.hide{
    display: none;
}




section.obj{
    width: 100%;
    height: 50vh;
    display: flex;
}
section.obj div.inf{
    width: 25%;
    height: 100%;
}
div.inf div.circle{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(25% - 6px);
    margin-top: 6vh;
}
div.circle img.in{
    height: 60%;
}
div.expla{
    width: 100%;
    height: 5vh;
    margin-top: 5vh;
    text-align: center;
}
div.expla h4.exp{
    color: #fff;
    font-size: 1.5vw;
    
}
@media (max-width: 830px){
    section.obj{
        width: 100%;
        height: 50vh;
        background: rgb(0,48,98);
        background: linear-gradient(90deg, rgba(0,48,98,1) 0%, rgba(0,0,0,1) 100%);
        display: flex;
        flex-wrap: wrap;

        overflow: hidden;
    }
    section.obj div.inf{
        width: 50%;
        height: 50%;
        overflow: hidden;
    }
    div.inf div.circle{
        width: 40%;
        margin-left: calc(30% - 6px);
        margin-top: 4vh;
    }
    div.expla{
        margin-top: 3vh;
    }
    div.expla h4.exp{
        font-size: 2.5vw;
    }


    section.prod{
        display: block;
        overflow: hidden;
    }
    div.phot{
        width: 100%;
        height: 50%;
        display: flex;
    }
    div.allim{
        margin-left: 5%;
        position: relative;
        align-items: center;
        margin-top: 0;
        height: 100%;
    }
    div.allim img{
        width: 100%;
        height: auto;
    }
    div.choi{
        height: 100%;
        width: 15%;
        margin-left: 5%;
        display: grid;
    }
    div.choi img{
        width: 100%;
    }

    /* C'est ici */


    
    
    div.sele{
        width: 100%;
        height: 50%;
        display: block;
    }
    div.color{
        margin-left: 0;
        width: 100%;
        height: 10%;
        display: flex;

    }
    div.color input{
        width: 1.4vh;
        height: 1.4vh;    
    }
    div.color span{
        width: 1.4vh;
        height: 1.4vh;
    }
    form{
        display: block;
    }

    div.inp:nth-child(1) input:checked ~ span.bl{
        border: 3px solid #dcc500;
    }
    div.inp:nth-child(2) input:checked ~ span.wh{
        border: 3px solid #dcc500;
    }
    div.inp:nth-child(3) input:checked ~ span.pi{
        border: 3px solid #dcc500;
    }
    div.inp{
        width: calc(1.4vh + 6px);
        height: calc(1.4vh + 6px);
        margin-left: 10%;
        margin-right: 10%;
        
    }
    div.other{
        width: 90%;
        height: 85%;
        border-radius: 25px;
        margin-left: calc( 5% - 3px );
        margin-top: calc( 5% - 6px );
        border: 3px solid #dcc500;
        position: relative;
    }
    div.title{
        width: 80%;
        margin-left: 12.5%;
        margin-top: 2vh;
        height: 10vh;
        text-align: center;
    }
    div.title h2.ti{
        color: #dcc500;
        font-size: 5vw;
    }
    div.price{
        width: 100%;
        height: 6vh;
        text-align: center;
    }
    div.price h3.prix{
        font-size: 4vw;
    }
    div.quanti{
        margin-top: 0;
        width: 100%;
        height: 5vh;
    }
    div.aju{
        width: 10%;
        font-size: 4vw;
        margin-left: 5%;
        margin-right: 5%;
    }
    div.quanti h4.qu{
        margin-right: 10%;
        font-size: 4vw;
    }
    div.comma{
        height: 10vh;
        margin-top: 3vh;
    }
    div.comma div.commander{
        background-color: #dcc500;
        color: #fff;
        font-size: 4vw;
    }
    
}